<div id="newcase">
  <form [formGroup]="caseForm" (ngSubmit)="onSubmit()">
    <div>
      <input type="text" formControlName="caseName" placeholder="Título" class="title"
        [style.color]="visualService.getNightMode() ? 'white' : 'black'"
        [style.background-color]="visualService.getNightMode() ? 'dimgrey' : 'lightgrey'"
        [style.border]="visualService.getNightMode() ? 'dimgrey' : 'lightgrey'">
    </div>
    <div id="textarea">
      <textarea formControlName="caseText" placeholder="Nuevo tema"
        [style.color]="visualService.getNightMode() ? 'white' : 'black'"
        [style.background-color]="visualService.getNightMode() ? 'dimgrey' : 'lightgrey'"
        [style.border]="visualService.getNightMode() ? 'dimgrey' : 'lightgrey'"></textarea>
    </div>
    <button type="submit" class="btn" [style.color]="visualService.getNightMode() ? 'cyan' : 'blue'"
      [style.background-color]="visualService.getNightMode() ? 'transparent' : 'white'"
      [style.box-shadow]="visualService.getNightMode() ? '3px 3px 5px rgba(0, 255, 255, 0.7)' : '3px 3px 5px rgba(0, 0, 0, 0.5)'">Enviar</button>
    <span id="errors">
      <span *ngIf="submitted && caseForm.get('caseName')?.errors?.['required']" class="error">título</span>
      <span *ngIf="submitted && caseForm.get('caseName')?.errors?.['maxlength']" class="error">max50</span>
      <span *ngIf="submitted && caseForm.get('caseText')?.errors?.['required']" class="error">texto</span>
      <span *ngIf="submitted && caseForm.get('caseText')?.errors?.['maxlength']" class="error">max1000</span>
      <span *ngIf="seconds > 0" class="error">Enviado, {{ seconds }} segundos</span>
    </span>
  </form>
  <input type="text" class="input" [(ngModel)]="imageUrl" placeholder="Introduce URL de imagen"
    [style.color]="visualService.getNightMode() ? 'white' : 'black'"
    [style.background-color]="visualService.getNightMode() ? 'dimgrey' : 'lightgrey'"
    [style.border]="visualService.getNightMode() ? 'dimgrey' : 'lightgrey'" />
  <button (click)="addImage()" class="btnSmall" [style.color]="visualService.getNightMode() ? 'cyan' : 'blue'"
    [style.box-shadow]="visualService.getNightMode() ? '3px 3px 5px rgba(0, 255, 255, 0.7)' : '3px 3px 5px rgba(0, 0, 0, 0.5)'">OK</button>
  <input type="text" class="input" [(ngModel)]="videoId" placeholder="Introduce ID (v=[ID]) de YouTube"
    [style.color]="visualService.getNightMode() ? 'white' : 'black'"
    [style.background-color]="visualService.getNightMode() ? 'dimgrey' : 'lightgrey'"
    [style.border]="visualService.getNightMode() ? 'dimgrey' : 'lightgrey'" />
  <button (click)="addVideo()" class="btnSmall" [style.color]="visualService.getNightMode() ? 'cyan' : 'blue'"
    [style.box-shadow]="visualService.getNightMode() ? '3px 3px 5px rgba(0, 255, 255, 0.7)' : '3px 3px 5px rgba(0, 0, 0, 0.5)'">OK</button>
</div>