<footer [style.color]="visualService.getNightMode() ? 'white' : 'black'"
    [style.background-image]="visualService.getNightMode() ? 'linear-gradient(to right, dimgrey, transparent)' : 'linear-gradient(to right, lightgrey, transparent)'">
    <p>&copy; 2024 Foronite. Todos los derechos reservados.</p>
    <p><a href="#" style="color: darkorange; text-decoration: none;">Sobre Nosotros</a> | <a href="#"
            style="color: darkorange; text-decoration: none;">Contacto</a> | <a href="#"
            style="color: darkorange; text-decoration: none;">Política de Privacidad</a></p>
    <p>Síguenos en:
        <a href="#" target="_blank"
            style="color: #00aced; text-decoration: none;">Twitter</a>,
        <a href="#" target="_blank"
            style="color: #3b5998; text-decoration: none;">Facebook</a>,
        <a href="#" target="_blank"
            style="color: #e4405f; text-decoration: none;">Instagram</a>
    </p>
</footer>