* {
    font-family: Arial, Helvetica, sans-serif;
}

#zoneHeader {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#back {
    cursor: pointer;
}

h3 {
    margin-left: 5px;
}

#pages {
    margin-right: 5px;
    display: flex;
}

.page {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid darkorange;
    border-radius: 5px;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
}